{% extends 'main.html' %}
{% block 'content' %}

<form method="post">

  {% csrf_token %}
  <div class="well">

    <p class="text-right">Ekaterina Stepanova,<br>
    phone: +49 176 975 96699<br>
    email: <a href="mailto:kate.v.stepanova@gmail.com">kate.v.stepanova@gmail.com</a><br>
    Heidelberg, {% now "d.m.Y" %}</p>

    <div class="well well-sm cover-letter-header text-center"><h3>Motivation Letter</h3></div>
    <div class="cover-letter-body">
      <p>Dear <input type="text" name="hr_name" contenteditable="true"
        value="{{ hr_name|default:'HR NAME' }}">,<br>
        with this motivation letter I would like to underline my interest at working for the company
       <input type="text" name="company" contenteditable="true" value="{{ company|default:'COMPANY NAME' }}">.
      </p>
      <p>My total professional experience is 4 years, plus academical experience while
  obtaining my degree in Information Technology. During my studies I worked for a French company
  VDOM Box Research. After half a year, I got a promotion from Student to Junior Developer, and one year later
  I was working as a Python Developer and Manager of Technical Writers Team. During this time I learnt about GUI, Web,
  Multi-Platform and Server Development. One of the projects developed in the company I presented as my Thesis.
      </p>
      <p>After graduation, I did an internship in the company NEC (Heidelberg, Germany), where I worked in the project
    Smart Grid on an algorithm for Distributing solar Engergy in  multi-user Electric Systems.
    This work was completed 3 month earlier than planned, and I got involved in another project -
    development of Web Application for maintaining Energy Comissioning and Resource Consumption.
      </p>
      <p>
        The last year I've been working part-time as a Python Developer for the company CueSoft
  (Freiburg, Germany), where I have been responsible for the development of Web Applications (both server-side and client-side).
  In parallel I worked as a Hardware/Software Specialist for the company ITS-Pfeiffer, consulting customers and implementing
  Hardware/Software solutions for different types of Servers. Apart from that, I invested time in my personal development -
  studying Psychology as my second Bachelor, learning German, and doing my own small projects.
      </p>
      <p>
        As for my personal skills, I'm easily adapting in a new environment and able to apply my knowledge in
  different areas. I have strong analytical skills and can efficiently work on few tasks at the same time. I'm motivated
  to learn and grow both professionally and personally.
      </p>
      <p>
        Currently I'm looking for a full-time job as a Software Engineer.
        The job position <input type="text" name="job_position" contenteditable="true"
                                value="{{ job_position|default:'JOB POSITION'}}"> presented on the website:
  <input type="text" name="company_url" contenteditable="true" value="{{ company_url|default:'WEBSITE'}}">​
        looks very attractive to me. I believe, that my knowledge and skills would perfectly for this job position.
      </p>
      <p>I would welcome the opportunity to take part in an interview to
  introduce myself and learn more about the project.
      </p>
      <p>
      Thank you for you interest. I'm looking forward to receiving an answer from you.
        </p>
      <p>
        Sincerely yours,<br>
  Ekaterina Stepanova
      </p>
      </div>

  <input name="cover_letter" type="submit" url="{{ request.get_absolute_path }}" class="submit" value="Proceed">
  </div>
  <!--<input class="submit" type="button" onclick="generatePDF()" value="Generate PDF">-->
</form>
<script>
</script>
{% endblock %}