{% extends 'main.html' %}
{% block 'content' %}
<form method="post" >
{% csrf_token %}

  <div class="email">
    <label for="address">E-mail:</label><input name="address" type="text">
    <label for="subject">Subject:</label><input name="subject" type="text"
        value="{{ job_position|default:'<<<- JOB POSITION ->>>'}}">
    {% include 'email_body.html' %}
    <b>Attachments</b><br>

    <input disabled="disabled" checked type="checkbox" value="attach" name="cv"><label for="cv">CV</label><br>
    <input disabled checked type="checkbox" value="attach" name="ml"><label for="ml">Motivation Letter</label><br>
    <input type="checkbox" checked value="attach" name="vdom"><label for="vdom">Reference VDOM</label><br>
    <input type="checkbox" checked value="attach" name="nec"><label for="nec">Reference NEC</label><br>
      <label for="diplom">Diplom</label><select name="attach_diplom"><br>
        <option value="">Don't attach</option>
        <option value="bachelor" selected>Bachelor</option>
        <option value="specialist">Specialist</option>
      </select>

    <input type="submit" name='email' url="{{ request.get_absolute_path }}" class="submit" value="Send Application">
  </div>
</form>
<!--<script>-->
  <!--CKEDITOR.replace("email_body");-->
<!--</script>-->
{% endblock %}
