{% extends 'main.html' %}
{% block 'content' %}
<form method="post">
{% csrf_token %}
  <p class="inline">

    <input type="submit" name='apply' class="submit" value="Apply for a job" url="{{ request.path }}">
    <input type="submit" name='add_record' class="submit" value="Add record" url="{{ request.path }}">
  </p>

  <table class="table table-stripped table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Company</th>
        <th>Location</th>
        <th>Job Position</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    {% for app in app_list %}
      <tr>
        <td><input type="checkbox" name="app_id" value="{{ app.id }}"></td>
        <td><a href="{{ app.website }}">{{ app.company }}</a></td>
        <td>{{ app.location }}</td>
        <td><a href="{{ app.job_url }}">{{ app.job_position }}</a></td>
        <td>{{ job.status }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</form>
<script>
  $(document).ready(function() {
    $('.job_app').dataTable();
} );
</script>
{% endblock %}