{% extends 'main.html' %}
{% block 'extra_style' %}
<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2015",

    });
  });
</script>
{% endblock %}

{% block 'content' %}
<br><br>
<form method="post" >
{% csrf_token %}

  <div class="email">
  {% if form %}
    {% for field in form.visible_fields %}
    <p>
      {% for error in field.errors %}
        <div class="error">{{ error }}</div>
      {% endfor %}

      <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
     {{ field }}
    </p>
    {% endfor %}
  {% endif %}
    <p>
      <input type="submit" name='save_record' url="{{ request.get_absolute_path }}" class="submit" value="Save Record">
    </p>
</form>
{% endblock %}