@import 'colors.less';

// layout
.login-form {
    margin: auto;
    padding: 10px;
    width: 400px;
    label {
        width: 130px;
        float: left;
    }
    input[type="text"] input[type="password"] {
        float: right;
    }
}


// style
.login-form {
    border: 3px solid @blue;
    border-radius: 5px;
    //background: @lightblue;
}