div.page {
    width: 680px;
    margin: auto;
    position: relative;
}


div.content {
    position: relative;
    clear: both;
}

table.cover_letter {
    width: 600px;
    margin: auto;
    thead {
        text-align: center;
    }
    .left-column {
        text-align: right;
        width: 170px;
    }
    td {
        vertical-align: baseline;
        padding: 10px 15px 10px 15px;
    }
}

.submit {
    display: table;
    margin: auto;
}

.email {
    margin: auto;separate
    width: 560px;
    padding: 20px;
    select input[type=text] input[type=password]{
        width: 200px;
    }
    p {
        label {
            width: 150px;
            float: left;
        }
    }
}

.inline {
    margin-left: 30%;
    input {
        display: inline-block;
    }
}

table.job_app {
    width: 597px;
    margin: auto;
}

// home page cover-letter
div.cover-letter-header {
    margin-left: -20px;
    margin-right: -20px;
    > h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
div.cover-letter-body > p {
    text-indent: 20px;
}