 <body class="c33">
    <p class="c16">
      <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 183.00px; height: 215.50px;"><img alt="" src="images/image00.jpg" style="width: 183.00px; height: 215.50px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
      </span>
    </p>
    <a href="#" name="839710375c275ac321180fcf5854352ba6d36b39"></a>
    <a href="#" name="0"></a>

    <table cellpadding="0" cellspacing="0" class="c25">
      <thead>
        <tr class="c0">
          <td class="c6" colspan="1" rowspan="1">
            <p class="c2"> <span class="c13">Personal</span></p>
          </td>
          <td class="c15" colspan="1" rowspan="1">
            <p class="c9"><span class="c13">Information</span></p>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr class="c0">
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">Full Name:</span></p></td>
          <td class="c5" colspan="1" rowspan="1"><p class="c9"><span class="c7">Ekaterina Stepanova</span></p></td>
        </tr>
        <tr class="c0">
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c32">Date of Birth:</span></p></td>
          <td class="c5" colspan="1" rowspan="1"><p class="c9"><span>17.08.1989</span></p></td>
        </tr>
        <tr class="c0">
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">Address:</span></p></td>
          <td class="c5" colspan="1" rowspan="1"><p class="c9"><span class="c7">69214 Eppelheim, Konrad Adenauer Ring 1</span></p></td>
        </tr>
        <tr class="c0">
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">Phone Number:</span></p></td>
          <td class="c5" colspan="1" rowspan="1"><p class="c9"><span class="c7">+49 176 975 96699</span></p></td>
        </tr>
        <tr class="c0">
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">E-mail:</span></p></td>
          <td class="c5" colspan="1" rowspan="1"><p class="c9"><span class="c35"><a class="c36" href="mailto:kate.v.stepanova@gmail.com">kate.v.stepanova@gmail.com</a></span></p></td>
        </tr>
        <tr class="c0"><td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">Objective:</span></p></td>
          <td class="c5" colspan="1" rowspan="1"><p class="c9"><span class="c7">Software Developer</span></p></td>
        </tr>
      </tbody>
    </table>
    <p class="c16 c10"><span></span></p><a href="#" name="ddf3dc8f794c7457765208ac19596758a4dd4fef"></a><a href="#" name="1"></a>


    <table cellpadding="0" cellspacing="0" class="c30">
      <tbody>
        <tr class="c0"><td class="c26" colspan="1" rowspan="1"><p class="c9"><span class="c13">Experience</span></p></td>
          <td class="c6" colspan="1" rowspan="1"><p class="c2"><span class="c13">Professional</span></p></td>
        </tr>
        <tr class="c0"><td class="c1" colspan="1" rowspan="1"><p class="c9"><span class="c7">June 2014 - present</span></p></td>
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">Dates:</span></p></td></tr>
        <tr class="c0"><td class="c1" colspan="1" rowspan="1"><p class="c9"><span class="c7">CueSoft</span></p></td>
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">Company:</span></p></td></tr>
        <tr class="c0"><td class="c1" colspan="1" rowspan="1"><p class="c9"><span class="c7">Web Developer</span></p></td>
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">Position:</span></p></td></tr>
        <tr class="c0"><td class="c1" colspan="1" rowspan="1"><p class="c9"><span class="c7">Backend development (Python, Django),</span></p><p class="c9"><span class="c7">Frontend development (HTML, CSS/LESS, Javascript)</span></p></td>
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">Responsibilites:</span></p></td></tr>
        <tr class="c22"><td class="c12" colspan="1" rowspan="1"><p class="c9 c10"><span class="c7"></span></p></td>
          <td class="c17" colspan="1" rowspan="1"><p class="c2 c10"><span class="c8"></span></p></td></tr>
        <tr class="c28"><td class="c1" colspan="1" rowspan="1"><p class="c9"><span class="c7">November 2014 - March 2015</span></p></td>
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">Dates:</span></p></td></tr>
        <tr class="c0"><td class="c1" colspan="1" rowspan="1"><p class="c9"><span class="c7">ITS-Pfeiffer</span></p></td>
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">Company:</span></p></td></tr>
        <tr class="c0"><td class="c1" colspan="1" rowspan="1"><p class="c9"><span class="c7">Hardware/Software Specialist</span></p></td>
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">Position:</span></p></td></tr>
        <tr class="c24">
          <td class="c1" colspan="1" rowspan="1"><p class="c9"><span class="c7">Hardware/Software diagnostics and repairs,</span></p><p class="c9"><span class="c7">Server Installation and Administration(Raspberry PI, Odroid, Ubuntu),</span></p><p class="c9"><span class="c7">Consulting</span></p></td>
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">Responsibilites:</span></p></td></tr>
        <tr class="c22">
          <td class="c12" colspan="1" rowspan="1"><p class="c9 c10"><span class="c7"></span></p></td>
          <td class="c17" colspan="1" rowspan="1"><p class="c2 c10"><span class="c8"></span></p></td></tr>
        <tr class="c0">
          <td class="c1" colspan="1" rowspan="1"><p class="c9"><span class="c7">July 2013 - April 2014</span></p></td>
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">Dates:</span></p></td></tr>
        <tr class="c0">
          <td class="c1" colspan="1" rowspan="1"><p class="c9"><span class="c7">NEC Laboratories Europe, Heidelberg, Germany</span></p></td>
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">Company:</span></p></td></tr>
        <tr class="c0">
          <td class="c1" colspan="1" rowspan="1"><p class="c9"><span class="c7">Research Intern/Java Developer</span></p></td>
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">Position:</span></p></td></tr>
        <tr class="c19">
          <td class="c1" colspan="1" rowspan="1"><p class="c9"><span class="c7">Simulating fairness-driven Energy Allocation in multi-user Electric Systems, </span></p><p class="c9 c31"><span class="c7">analysing of Resource Consumption (Java, Tomcat, Spring, Maven, JUnit)</span></p></td>
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">Responsibilities:</span></p></td></tr>
        <tr class="c0">
          <td class="c12" colspan="1" rowspan="1"><p class="c9 c10"><span class="c7"></span></p></td>
          <td class="c17" colspan="1" rowspan="1"><p class="c2 c10"><span class="c8"></span></p></td></tr>
        <tr class="c0">
          <td class="c1" colspan="1" rowspan="1"><p class="c9"><span class="c7">April, 2011 &ndash; May, 2013</span></p></td>
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">Dates:</span></p></td></tr>
        <tr class="c0">
          <td class="c1" colspan="1" rowspan="1"><p class="c9"><span class="c7">VDOM Box Research, Tomsk, Russia</span></p></td>
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">Company:</span></p></td></tr>
        <tr class="c0">
          <td class="c1" colspan="1" rowspan="1"><p class="c9"><span class="c7">Software Developer</span></p></td>
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">Position:</span></p></td></tr>
        <tr class="c0">
          <td class="c1" colspan="1" rowspan="1"><p class="c9"><span class="c7">Server Development (Python, LDAP, &nbsp;Linux),</span></p><p class="c9"><span class="c7">Applications Development (Python, JavaScript, XML, HTML),</span></p><p class="c9"><span class="c7">Writing technical documentation (UML, Class Diagrams, LaTeX)</span></p></td>
          <td class="c11" colspan="1" rowspan="1"><p class="c2"><span class="c8">Responsibilites:</span></p></td></tr></tbody>
    </table>


    <p class="c16 c10"><span></span></p><a href="#" name="da4508de94051f353494c1ad0a2c580d12ef70eb"></a><a href="#" name="2"></a>



<table cellpadding="0" cellspacing="0" class="c21"><tbody>
  <tr class="c0">
    <td class="c34" colspan="1" rowspan="1"><p class="c9 c10"><span class="c7"></span></p></td>
    <td class="c29" colspan="1" rowspan="1"><p class="c2"><span class="c13">Education</span></p></td></tr>
  <tr class="c0">
  <td class="c4" colspan="1" rowspan="1"><p class="c9"><span class="c7">2007 &ndash; 2012</span></p></td>
  <td class="c20" colspan="1" rowspan="1"><p class="c2"><span class="c8">Dates:</span></p></td></tr>
  <tr class="c0">
    <td class="c4" colspan="1" rowspan="1"><p class="c9"><span class="c7">Bachelor of Science</span></p></td>
    <td class="c20" colspan="1" rowspan="1"><p class="c2"><span class="c8">Degree:</span></p></td></tr>
  <tr class="c0">
    <td class="c4" colspan="1" rowspan="1"><p class="c9"><span class="c7">Information Technology</span></p></td>
    <td class="c20" colspan="1" rowspan="1"><p class="c2"><span class="c8">Area of Studies:</span></p></td></tr>
  <tr class="c0">
    <td class="c4" colspan="1" rowspan="1"><p class="c9"><span class="c7">National Research Tomsk State University</span></p></td>
    <td class="c20" colspan="1" rowspan="1"><p class="c2"><span class="c8">Educational Institute:</span></p></td></tr>
  <tr class="c0">
    <td class="c4" colspan="1" rowspan="1"><p class="c9"><span class="c7">Design and implementation of module &#39;ProAdmin&#39; to connect internal applications of VDOM Server with external LDAP/ActiveDirectory Server</span></p></td>
    <td class="c20" colspan="1" rowspan="1"><p class="c2"><span class="c8">Topic of the thesis:</span></p></td></tr>
  <tr class="c0">
    <td class="c38" colspan="1" rowspan="1"><p class="c9 c10"><span class="c7"></span></p></td>
    <td class="c37" colspan="1" rowspan="1"><p class="c2 c10"><span class="c8"></span></p></td></tr>
  <tr class="c0">
    <td class="c4" colspan="1" rowspan="1"><p class="c9"><span class="c7">2014 &ndash; 2015</span></p></td>
    <td class="c20" colspan="1" rowspan="1"><p class="c2"><span class="c8">Dates:</span></p></td></tr>
  <tr class="c0">
    <td class="c4" colspan="1" rowspan="1"><p class="c9"><span class="c7">Master of Science (not completed)</span></p></td>
    <td class="c20" colspan="1" rowspan="1"><p class="c2"><span class="c8">Degree:</span></p></td></tr>
  <tr class="c0">
    <td class="c4" colspan="1" rowspan="1"><p class="c9"><span class="c7">Computer Science</span></p></td>
    <td class="c20" colspan="1" rowspan="1"><p class="c2"><span class="c8">Area of Studies:</span></p></td></tr>
  <tr class="c0">
    <td class="c4" colspan="1" rowspan="1"><p class="c9"><span class="c7">Albert-Ludwigs Universit&auml;t Freiburg</span></p></td>
    <td class="c20" colspan="1" rowspan="1"><p class="c2"><span class="c8">Educational Institute:</span></p></td></tr></tbody>
</table>

    <p class="c16 c10"><span></span></p><a href="#" name="6fe86b28c49224e5530db1ee9ecf0d747afb79d8"></a><a href="#" name="3"></a>

<table cellpadding="0" cellspacing="0" class="c21"><tbody>
  <tr class="c0">
    <td class="c23" colspan="1" rowspan="1"><p class="c9 c10"><span class="c7"></span></p></td>
    <td class="c27" colspan="1" rowspan="1"><p class="c2"><span class="c13">Skills</span></p></td></tr>
  <tr class="c18">
    <td class="c14" colspan="1" rowspan="1"><p class="c9"><span class="c7">English: C1/C2 level,</span></p><p class="c9"><span class="c7">German: B1 level</span></p></td>
    <td class="c3" colspan="1" rowspan="1"><p class="c2"><span class="c8">Languages:</span></p></td></tr>
  <tr class="c0">
    <td class="c14" colspan="1" rowspan="1"><p class="c9"><span class="c7">Python, Java, Javascript</span></p></td>
    <td class="c3" colspan="1" rowspan="1"><p class="c2"><span class="c8">Programming Languages:</span></p></td></tr>
  <tr class="c0">
    <td class="c14" colspan="1" rowspan="1"><p class="c9"><span class="c7">Linux: Ubuntu, Debian, Fedora, OpenSuse; Windows</span></p></td>
    <td class="c3" colspan="1" rowspan="1"><p class="c2"><span class="c8">Operating systems:</span></p></td></tr>
  <tr class="c0">
    <td class="c14" colspan="1" rowspan="1"><p class="c9"><span class="c7">SQLite, MySQL, &nbsp;Non-relational DB (LDAP)</span></p></td>
    <td class="c3" colspan="1" rowspan="1"><p class="c2"><span class="c8">Databases:</span></p></td></tr>
  <tr class="c0">
    <td class="c14" colspan="1" rowspan="1"><p class="c9"><span class="c7">Django, Apache, Tomcat, HTML, CSS/LESS, JSON</span></p></td>
    <td class="c3" colspan="1" rowspan="1"><p class="c2"><span class="c8">Web Technologies:</span></p></td></tr>
  <tr class="c0">
    <td class="c14" colspan="1" rowspan="1"><p class="c9"><span class="c7">JUnit, Spring, Maven, Git, SVN, UML, TDD, Scrum</span></p></td>
    <td class="c3" colspan="1" rowspan="1"><p class="c2"><span class="c8">Other Technologies:</span></p></td></tr>
  <tr class="c0">
    <td class="c14" colspan="1" rowspan="1"><p class="c9"><span class="c7">multitasking, fast learner, flexible, good in time-management</span></p></td>
    <td class="c3" colspan="1" rowspan="1"><p class="c2"><span class="c8">Personal skills:</span></p></td></tr></tbody>
</table>

<p class="c16 c10"><span></span></p><p class="c16 c10"><span></span></p><p class="c16 c10"><span></span></p><p class="c16 c10"><span></span></p></body></html>