<table class="cv-table">
  <thead>
    <tr><td colspan="2">Experience</td></tr>
  </thead>
  <tbody>
  {% for exp in experience %}
    <tr>
      <td class="left-column">Dates:</td>
      <td class="right-column" contenteditable="true">{{ exp.dates }}</td>
    </tr>
    <tr>
      <td class="left-column">Company:</td>
      <td class="right-column" contenteditable="true">{{ exp.company }}</td>
    </tr>
    <tr>
      <td class="left-column">Position:</td>
      <td class="right-column" contenteditable="true">{{ exp.position }}</td>
    </tr>
    <tr>
      <td class="left-column">Responsibilities:</td>
      <td class="right-column" contenteditable="true">
      {% for resp in exp.responsibilities.all %}
          {{ resp }}<br>
      {% endfor %}
      </td>
    </tr>
  {% if not forloop.last %}
    <tr class="separator"></tr>
  {% endif %}
  {% endfor %}
  </tbody>
</table>
