<table class="cv-table">
  <thead>
    <tr><td colspan="2">Personal Information</td></tr>
  </thead>
  <tbody>
    <tr>
      <td class="left-column">Full Name:</td>
      <td class="right-column" contenteditable="true">{{ personal_info.full_name }}</td>
    </tr>
    <tr>
      <td class="left-column">Date of Birth:</td>
      <td class="right-column" contenteditable="true">{{ personal_info.date_of_birth }}</td>
    </tr>
    <tr>
      <td class="left-column">Address:</td>
      <td class="right-column" contenteditable="true">{{ personal_info.address }}</td>
    </tr>
    <tr>
      <td class="left-column">Phone Number:</td>
      <td class="right-column" contenteditable="true">{{ personal_info.phone_number }}</td>
    </tr>
    <tr>
      <td class="left-column">E-mail:</td>
      <td class="right-column" contenteditable="true">{{ personal_info.email }}</td>
    </tr>
    <tr>
      <td class="left-column">Objective:</td>
      <td class="right-column" contenteditable="true">{{ personal_info.objective }}</td>
    </tr>
  </tbody>
</table>
