<table class="cv-table">
  <thead>
    <tr><td colspan="2">Skills</td></tr>
  </thead>
  <tbody>
    <tr>
      <td class="left-column">Languages:</td>
      <td class="right-column">
      {% for lang in skills.languages.all %}
       {{ lang }}<br>
      {% endfor %}
      </td>
    </tr>
    <tr>
      <td class="left-column">Programming Languages:</td>
      <td class="right-column" contenteditable="true">{{ skills.programming_languages }}</td>
    </tr>
    <tr>
      <td class="left-column">Operating Systems:</td>
      <td class="right-column" contenteditable="true">{{ skills.operating_systems }}</td>
    </tr>
    <tr>
      <td class="left-column">Databases:</td>
      <td class="right-column" contenteditable="true">{{ skills.databases }}</td>
    </tr>
    <tr>
      <td class="left-column">Web Technologies:</td>
      <td class="right-column" contenteditable="true">{{ skills.web_technologies }}</td>
    </tr>
    <tr>
      <td class="left-column">Other Technologies:</td>
      <td class="right-column" contenteditable="true">{{ skills.other_technologies }}</td>
    </tr>
    <tr>
      <td class="left-column">Personal Skills:</td>
      <td class="right-column" contenteditable="true">{{ skills.personal_skills }}</td>
    </tr>
  </tbody>
</table>