{% extends 'main.html' %}

{% block 'include' %}
{% endblock %}

{% block 'content' %}
<form method="post" action="{{ request.path }}" class="login-form"> <!-- request.path
                                      is a standart django template tag,
                                      which containts the url of current page -->
  {% csrf_token %} <!-- this token is generated automatically by django for security reasons -->
  <label for="username">Username: </label>
  <input type="text" name="username">
  <br>
  <label for="password">Password: </label>
  <input type="password" name="password">
  <br>

  {% url 'login' as login %}
  {% url 'register' as register %}

  {% if request.path = register %}
    <label for="confirm_password">Confirm password: </label>
    <input type="password" name="confirm_password">
    <br>
    <input type="submit" value="Register">
  {% elif request.path = login %}
    <input type="submit" value="Login">
    <a href="{{ register }}">Register</a>
  {% endif %}
</form>
{% endblock %}