{% extends 'main.html' %}
{% block 'content' %}
{% url 'login' as login %}
{% url 'register' as register %}
<div id="jas-login-containter">
 <!-- request.path is a standart django template tag,
    which containts the url of current page -->
  <form class="login-form" method="post" action="{{ request.path }}">
    {% csrf_token %} <!-- this token is generated automatically by django for security reasons -->
    <label for="username" class="sr-only">Email address</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    {% if request.path = register %}
      <input type="password" id="confirm_password" name="confirm_password" class="form-control"
             placeholder="Confirm password" required>
      <button class="btn btn-sm btn-primary" type="submit">Register</button>
      <a href="{{ login }}" class="text-center new-account">Back to login</a>
    {% elif request.path = login %}
      <button class="btn btn-sm btn-primary" type="submit">Log in</button>
      <a href="{{ register }}" class="text-center new-account">Register</a>
    {% endif %}
  </form>
</div>

{% endblock %}
